html {
  background-color: rgb(43, 8, 7);
}

.title {
  display: flex;
  position: relative;
  top: 100px;
  padding-bottom: 30px;
  background-color: azure;
}

.main-title {
  display: flex;
  position: relative;
  left: 45%;
  padding: 20px;
  background-color: aqua;
}

.navigation-bar-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: #7a93a81a;
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 100px;
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-right: 30px;
  background-color: antiquewhite;
  height: 30px;
  position: relative;
  top: 28px;
  padding: 4px;
  padding-left: 20px;
  padding-right: 20px;
  border: 3px, solid, red;
  z-index: 1;
}

.nav:hover {
  background-color: rgb(175, 137, 211);
}

.navigation-content {
  display: flex;
  flex-wrap: wrap;
}

footer {
  display: flex;
  background-color: bisque;
  justify-content: center;
  padding: 20px;
}

.sections-container {
  position: relative;
  top: 30px;
  background-color: rgb(47, 150, 150);
  padding: 4px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.sec {
  background-image: url(placeholder-images.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.titles {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  background-color: aqua;
  width: fit-content;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 200px;
  left: 100px;
}

.sub {
  font-size: 25px;
  border: 3px, solid, black;
  background-color: aquamarine;
}

.sub:hover {
  background-color: rgb(143, 190, 230);
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding: 5px;
  position: relative;
  left: 20px;
  top: 60px;
}

.contact-title {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 40px;
  bottom: 30px;
  left: 40%;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 10px;
  top: 84px;
  height: 20px;
}
