html,
body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgb(43, 8, 7);
}

.title {
  position: relative;
  top: 100px;
  padding-bottom: 30px;
}

.sections-container {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: aqua;
}

.navigation-bar-container {
  display: flex;
  justify-content: flex-start;
  background-color: #7a93a81a;
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 100px;
}

.nav {
  text-align: center;
  text-decoration: none;
  color: rgb(213, 151, 255);
  margin: 1vw;
  background-color: #994c4c;
  height: 30px;
  width: 6vw;
  padding: 10px;
  position: relative;
  top: 22px;
  border: 3px, solid, #ff0000;
  z-index: 1;
}

.nav:hover {
  background-color: rgb(175, 137, 211);
  color: red;
}

.navigation-content {
  display: flex;
  flex-wrap: wrap;
}

footer {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: bisque;
}

.sections-container {
  position: relative;
  top: 30px;
  background-color: rgb(47, 150, 150);
  margin-top: 30px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.sec {
  background-image: url(placeholder-images.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  margin: 2px;
}

.titles {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  background-color: aqua;
  width: fit-content;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  top: 400px;
  left: 100px;
}

.sub {
  font-size: 25px;
  border: 3px, solid, black;
  background-color: aquamarine;
}

.sub:hover {
  background-color: rgb(143, 190, 230);
}

.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 1vw;
  margin-right: 1vw;
  position: relative;
  top: 10px;
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
  padding-bottom: 10px;
}

.contact-title {
  text-align: center;
  width: 100%;
}

.BTT {
  position: relative;
  left: 38vw;
  bottom: 60px;
  background-color: rgb(174, 174, 252);
  text-decoration: none;
  padding: 20px;
  border: 3px, solid, purple;
}

footer {
  text-align: center;
}
