body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(knot.jpg);
  background-size: contain;
  background-position: center;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  right: 20px;
}

.title {
  position: relative;
  top: 100px;
  padding-bottom: 30px;
}

.main-title {
  text-align: center;
  color: #c6e4ff;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #57021460;
}

.main-title-sub {
  text-align: center;
  color: #c6e4ff;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #57021460;
}

.logo {
  position: relative;
  top: 8px;
}

.navigation-bar-container {
  display: flex;
  justify-content: flex-start;
  background-color: #7a93a81a;
  width: 100%;
  position: fixed;
  left: 0px;
  z-index: 1;
  height: 100px;
}

.nav {
  display: flex;
  text-align: center;
  text-decoration: none;
  color: #c6e4ff;
  margin: 1vw;
  background-color: #994c4c60;
  height: 30px;
  width: fit-content;
  padding: 10px;
  position: relative;
  top: 10px;
  border: 3px, solid, #ff000060;
  z-index: 1;
}

.nav:hover {
  background-color: #e16a6a60;
  color: #ffffff;
}

.navigation-content {
  display: flex;
  flex-wrap: wrap;
}

footer {
  text-align: center;
  color: #c6e4ff;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #41001b;
}

.sections-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  top: 30px;
  margin-top: 30px;
}

.top-sec {
  display: flex;
  flex-direction: column;
  background-image: url(knot2-v2.jpg);
  position: relative;
  background-size: auto;
  background-position: center;
  height: fit-content;
  width: 100%;
}

.sec-1 {
  display: flex;
  flex-direction: column;
  background-image: url(knot2-v2.jpg);
  position: relative;
  background-size: auto;
  background-position: center;
  height: fit-content;
  width: 100vw;
  padding: 30px;
  margin: 20px;
}

.sec-2 {
  display: flex;
  flex-direction: column;
  background-image: url(knot2-v2.jpg);
  position: relative;
  background-size: auto;
  background-position: center;
  height: fit-content;
  width: 100vw;
  padding: 30px;
  margin: 20px;
}

.sec-3 {
  display: flex;
  flex-direction: column;
  background-image: url(knot2-v2.jpg);
  position: relative;
  background-size: auto;
  background-position: center;
  height: fit-content;
  width: 100vw;
  padding: 30px;
  margin: 20px;
}

.titles {
  color: #c6e4ff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 65px;
  background-color: #8a2e1970;
  width: fit-content;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  top: 200px;
  left: 100px;
}

.sub {
  font-size: 45px;
  border: 3px, solid, #a10202;
  background-color: #ec4949;
}

.sub:hover {
  background-color: #610039;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 1vw;
  margin-right: 1vw;
  position: relative;
  top: 10px;
  text-decoration: underline;
  color: #c6e4ff;
}

.contact:hover {
  background-color: #610039;
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
  padding-bottom: 10px;
}

.contact-title {
  text-align: center;
  width: 100%;
}

.BTT-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  background-color: #75303060;
}

.BTT {
  color: #c6e4ff;
  display: flex;
  bottom: 60px;
  background-color: rgb(184, 87, 87);
  text-decoration: none;
  padding: 20px;
  border: 3px, solid, rgb(128, 0, 0);
}

.BTT:hover {
  background-color: #610039;
}

#contacts {
  background-color: #ff8b8b99;
  margin: 0px;
  padding: 30px;
}

.section-image {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 700px;
  position: relative;
  left: 60%;
  bottom: 200px;
  mix-blend-mode: screen;
}

.anvil {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 600px;
  height: 400px;
}
